.similarContent{
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 50px;
    margin-bottom: 50px;
}

.content-similarItems{
    margin-top: 90px;
    margin-left: 1%;
}

.title-similar-items{
    color: rgb(2, 162, 211);
}